<div class="text-left">
    <div>
        <h1>Conhecimentos Adquiridos</h1>
    </div>
    <div>
        <p>Estrutura MVC</p>
    </div>
    <div>
        <a href="https://parallelum.com.br/fipe/api/v1/carros/marcas">Tabela FIP</a>
    </div>
    <div>
        <a href="https://console.hgbrasil.com/documentation/weather">Previsão do Tempo</a>
    </div>
    <div>
        <a href="https://www.google.com.br/">Google</a>
    </div>
</div>