<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Informações</title>
    <meta name="description" content="Jovem Programador" />
</head>
<body>
    <div>
        <h1>Informações Adicionais</h1>
    </div>
    <div>
        <p>Data de Inicio: 23/07/2021 </p>
        <p>01/07/2022</p>
        <p>Coordenador: Junior </p>
        <p>Instituição: SENAC SC</p>
        <p>Rod. Antônio Heil 191 (Centro II)</p>
        <p>Telefone:(47) 3351-2626</p>
    </div>
    <div>
        <img src="https://www.uerr.edu.br/wp-content/uploads/2018/08/logo-senac.png" height="200" width="400" />
    </div>

</body>
</html>

