<form>
    <div class="mb-3">
        <label for="NomeInput" class="form-label">Nome</label>
        <input type="text" class="form-control col-6" />
    </div>
    <div class="mb-3">
        <label for="IdadeInput" class="form-label">Idade</label>
        <input type="number" class="form-control col-1" />
    </div>
    <div class="mb-3">
        <label for="ContatoInput" class="form-label">Contato</label>
        <input type="text" class="form-control col-3" />
    </div>
    <div class="mb-3">
        <label for="EmailInput" class="form-label">Email</label>
        <input type="email" class="form-control col-3" />
    </div>
    <div class="mb-3">
        <label for="CEPInput" class="form-label">CEP</label>
        <input type="text" class="form-control col-3" />
    </div>

    <div class="text-center">
        <a class="btn btn-primary" type="button" asp-controller="Professor" asp-action="Mensagem">Salvar</a>
        <a class="btn btn-primary" type="button" asp-controller="Professor" asp-action="Index">Voltar</a>
    </div>
</form>